.recipe-card {   
    border: 0;    
    background: transparent;    

    &-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
    }

    &-img {
        max-width: 320px;
    }
    
    &-footer {
        display: flex;
        align-items: baseline;        
        background: transparent;
        border: 0;      
    }     
}