.recipe-card {   
    // position: relative; 
    border: 0;
    
    background: transparent;    

    // &-header {
    //     background: transparent;
    //     border: 0;
    // }

    &-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    &-img {
        // border-radius: 20px;
        // width: 500px;
    }

    &-print {
        margin-left: 18px;
        margin-right: 18px;
    }

    &-print-btn {
        background: rgb(102, 156, 91);
        color: white;
        border: 0;
        border-radius: 50%;
        padding: 5px 10px 8px;
    }

    &-print-btn:hover {
        background: rgb(119, 175, 107);
    }
    
    &-footer {
        display: flex;
        align-items: baseline;
        // position: absolute;
        background: transparent;
        border: 0;
      

        // bottom: -10px;
        // left: 20px;
    }

    &-btn {
        margin-right: 10px;
        width: 120px;
        background:  #668ac4;      
        border: 0; 
    }
    &-btn:hover {
        background:  #516d9b;      
    }
}