.recipe-card {   
    border: 0;
    
    background: transparent;    

    &-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
      
    &-print {
        margin-left: 18px;
        margin-right: 18px;
    }

    &-print-btn {
        background: rgb(102, 156, 91);
        color: white;
        border: 0;
        border-radius: 50%;
        padding: 5px 10px 8px;
    }

    &-print-btn:hover {
        background: rgb(119, 175, 107);
    }
    
    &-footer {
        display: flex;
        align-items: baseline;        
        background: transparent;
        border: 0;      
    }

   
}