.fav-title {
  font-weight: bold;
  margin-top: 50px;
  padding: 50px;
}

.food-btn {
  background-color: #e8e5da;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
}

.remove-btn {
  background-color: #e8e5da;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
}

.Toastify__toast {
  background-color: #e8e5da;
}

.Toastify__toast-body {
  color: #5e869c;
}

.Toastify__progress-bar {
  background-color: #5e869c;
}

.Toastify__close-button--success {
  display: none;
}
