.recipe {
  &-print {
    background: rgb(230, 169, 248);
    padding: 2px 8px 8px;
    border-radius: 50%;
    border: 0;

    svg {
      color: #000000;
    }
  }

  &-print:hover {
    opacity: 0.85;
  }
}

.Toastify__toast {
  background-color: #e8e5da;
}

.Toastify__toast-body {
  color: #5e869c;
}

.Toastify__progress-bar {
  background-color: #5e869c;
}

.Toastify__close-button--success {
  display: none;
}

.favourite-btn {
  background-color: #e8e5da;
  border-radius: 30px;
  color: #5e869c;
  border: none;
  transition: all 150ms ease-in-out;
  font-size: 18px;
}

.favourite-btn:hover {
  background-color: #e79331;
  color: #e8e5da;
}

.favourite-btn:active {
  opacity: 0.8;
}
