.recipe {

  max-width: 800px; 
  margin: 0 auto;

  &-title {
    border-bottom: 1px solid #dee2e6;
  }
  
  &-prep, &-drink {
    border-bottom: 1px solid #d2d2d2;
    padding: 8px 16px;
    margin-bottom: 20px;
  }

  &-btn {
    margin-right: 10px;
    width: 120px;
    background:  #668ac4;      
    border: 0; 
  }

  &-btn:hover {
      background:  #516d9b;      
  }
}