.landing-page {
    container: flex;
    color:#eebe87;
    align-items: flex-end;
    justify-content: center;
    font-size: 800%;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;





};
